@{
    ViewBag.Title = "_ActionMenuLayout";
}

@*<h2>_ActionMenuLayout</h2>*@
<div class="pull-right">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
