@{
    ViewBag.Title = "_BodyLayout";
}

@*<h2>_IndexLayout</h2>*@

<br />
<br />

<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            @*<h1 class="page-header">Maintenance</h1>*@
        </div>
        <!--end page header -->
    </div>


    <div class="row">

        <div class="panel panel-default">

            <div class="panel-heading">
            </div>

            <div class="panel-body">

                <div class="row">

                    <!-- modal placeholder-->
                    <div id='myModal' class='modal fade in'>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div id='myModalContent'></div>
                                </div>
                            </div>
                        </div>
