@{
    ViewBag.Title = "_IndexLayout2";
}

</div>
</div>
</div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>