@{
    ViewBag.Title = "_IndexLayout";
}

<br />
<br />

@*<h2>_IndexLayout</h2>*@
<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            @*<h1 class="page-header">Maintenance</h1>*@
        </div>
        <!--end page header -->
    </div>

    <!-- modal placeholder-->
    <div id='myModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>
        </div>