@{
    ViewBag.Title = "_SubmitButton";
}


<div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" >CANCEL</button>
    <input type="submit" value="Save" class="btn btn-primary" />
    @*@Html.ActionLink("CANCEL", "Index", "Home", null, new { @class = "btn btn-danger" })*@
</div>